

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  width: 320px;
  display: block;
  margin: 0 auto;
}

form>input,
form>textarea, 
form>label {
  width: 100%;
  display: block;
  margin: .5rem 0;
}

form>label {
  color: rgba(0,0,0,.7);
  font-size: 1rem;
  font-weight: bold;
}
form>input,
form>textarea {
  padding: .5rem;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.1);
}

form>button {
  padding: .5rem 1.5rem;
  background: #090;
  color: #fff;
  border: none;
  font-weight: 900;
  border-radius: 4px;
  cursor: pointer;
}