* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  font-family: "Open Sans", sans-serif;
  background: rgb(109, 189, 255);
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: white;
  box-shadow: 0 4px 10px 4px rgb(89, 180, 255);
  max-width: 600px;
  padding: 5rem;
}

@media screen and (max-width: 480px) {
  body {
    min-width: 300;
  }
  form {
    max-width: 400px;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  form {
    max-width: 600px;
    padding: 2rem;
  }
}

label {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9em;
  font-weight: bolder;
}

label:not(:first-child) {
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background: rgb(247, 247, 247);
}

input:focus {
  border-bottom: 1.5px solid grey;
}

input.error {
  border: 1.5px solid red;
}

.otp-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.otp-header > p {
  margin: 0;
  font-size: 0.9em;
  color: blue;
  cursor: pointer;
}

.otp-header > p:hover {
  text-decoration: underline;
}

.input-otp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-otp-container > input {
  text-align: center;
  width: 12.5%;
  height: 4rem;
  font-size: 2rem;
}

.input-error {
  padding: 0;
  margin: 0;
  color: red;
  font-style: italic;
  font-size: 0.8em;
}

form > button {
  align-self: center;
  font-size: 1.2em;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: rgb(53, 164, 255);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

form > button:hover {
  background: rgb(19, 149, 255);
}
